@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

:root {
    --main-bg-color: #E9E9E9;
    --primary-text-color: #424242;
    --accent-color: #FF3F3C;
}
body {
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    margin-bottom: 100px;
}

header h1 {
    margin: 0;
}

main {
    background: url('/images/polaroid.png') no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
}

.hero {
    text-align: center;
    min-height: 800px;
}

.hero h2 {
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

.details ul li {
    list-style-type: none;
    margin: 10px 0;
    padding: 30px 55px;
    background-size: 200px;
}

.details ul li.qr {
    background: url('/images/qr.svg') no-repeat center left;

}

.details ul li.cloud {
    background: url('/images/cloud.svg') no-repeat center left;
}

.details ul li.film {
    background: url('/images/film.svg') no-repeat center left;
}

.details ul li.wifi {
    background: url('/images/wifi.svg') no-repeat center left;
}


input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    font-family: "Inter", sans-serif;
}

input[type=text] {
    width: 74%;

}

input[type=button] {
    width: 25%;
    background-color: var(--accent-color);
    text-decoration: none;
    color: var(--main-bg-color);
    font-weight: bold;
}

form {
    background-color: #dcdcdc;
    padding: 1% 1% 1% 1%;
    border-radius: 20px;
}

h3 {
    font-size: 2em;
    text-align: center;
}

.cta {
    margin-bottom: 50px;
}
